.templates{
	position: relative;


	height: 1140px;
}
.templates__gallery{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 10;

	margin: auto;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.templates__overlay{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	z-index: 100;

	margin: auto;

	background-color: rgba(#000, 0.24);
}
.templates__button{
	position: absolute;
	left: 50%;

	top: 50%;
	transform: translateY(-50%) translateX(-50%);

	margin: auto;

	text-transform: uppercase;
}